// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$pastelpink: #E69A8D; //main color
$dark-gray: #888888; // body-text
$outer-space: #474747; //small text
$Russian-violet:	#261342;
$space-cadet: #1C1854; //headings
