<div class="">
              <select class="form-select" name="equipment" aria-label="Default select example" multiple>
                  <option value="" selected>-Equipment-</option>
                  <% Equipment.equipment_types.keys.each do |equipment| %>
                  <option value="<%=equipment%>"><%= equipment %></option>
                <% end %>
              </select>
          </div>
