<div class="container">
<%# add search bar %>

<h1>Search for your favourite studio</h1>
<%= link_to "List your studio here", new_studio_path %>
<%= button_to 'Sign Out', destroy_user_session_path, method: :delete %>
</div>
