<div class="container">
<h1>Make your reservations here</h1>

<%= simple_form_for [@reservation] do |f| %>
  <%= f.input :start_time %>
  <%= f.input :end_time %>
  <%= f.submit "Make Reservations", class: "btn btn-primary" %>
<% end %>
</div>
