<<<<<<< HEAD
<div class="room-background">
<%= render "pages/navbar" %>
<%= render "form", studio: @studio, room: @room %>
</div>
=======
<%= render "form", studio: @studio, room: @room %>
>>>>>>> aef511ff84e957c712fb8e04270600b65430e568
<%= render 'studios/footer' %>
