<nav class="nav-bar navbar-white">
  <img src="/assets/studiobookcropped.png" alt="studiobook" class="nav-logo">
    <div class="search-bar">
        <form action="/studios" accept-charset="UTF-8" method="get">
         <%# studio input %>
          <div class="form-floating search-input">
            <input type="text" name="query" class="form-control" id="floatingInput" placeholder="Jamming Studio">
            <label for="floatingInput" >Find a studio</label>
          </div>
          <%# date input %>
          <div class="form-floating">
            <input data-controller="flatpickr" type="text" name="date" class="form-control" id="floatingInput" placeholder="e.g 25/09/2022">
            <label for="floatingInput">Date</label>
          </div>
          <%# time input %>
          <div class="form-floating">
            <input type="time" name="time" class="form-control" id="floatingInput" placeholder="00:00">
            <label for="floatingInput">Time</label>
          </div>
          <%# duration input %>
          <div class="form-floating">
            <input type="search" name="duration" class="form-control" id="floatingInput" placeholder="e.g 2 hours">
            <label for="floatingInput">Duration</label>
          </div>
          <%# equipment input %>
          <div class="form-floating mr-1">
            <input type="search" name="equipment" class="form-control" id="floatingInput" placeholder="e.g keyboard">
            <label for="floatingInput">Equipment</label>
          </div>
          <button type ="submit"><i class="fa-solid fa-magnifying-glass" data-disable-with="Search"></i></button>
        </form>
      </div>
    <div class="nav-buttons d-flex">
    <% if user_signed_in? %>
    <%= link_to "List your studio here", new_studio_path, class: "nav-list-btn nav-list-btn-white" %>
    <%= link_to 'Sign Out', destroy_user_session_path, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class: "nav-sign-out-btn nav-sign-out-btn-white" %>
    <% else %>
    <%= link_to "List your studio here", new_studio_path, class: "nav-list-btn nav-list-btn-white" %>
    <%= link_to "Login", new_user_session_path, class: "nav-login-btn nav-login-btn-white" %>
    <a href="#" class="nav-register-btn nav-register-btn-white">Register Now</a>
    <% end %>
    </div>

</nav>
