
<div class="container">
<h1>Discover Studios</h1>
<% @studio.each do |stud| %><br>
  <div class="card" style="width: 20rem;">
    <img src="<%= asset_path('placeholder.jpg')%>" class="card-img-top"/>
    <div class="card-body">
      <%= link_to "#{stud.name}", studio_path(stud), method: :get, class: "btn btn-secondary" %>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <li class='list-group-item' >Address: <strong><%= stud.address %></strong></li>
    </div>
  </div>
<% end %>
</div>
