<%= render "navbar", studio: @studio %>
<div class="container-for-list">
  <div class="list-container">
  <%# everything in left column %>
  <div class="right-col">
    <div class="sidebar">
        <h2>Select filter</h2>
        <h3>Studio type</h3>
        <div class="filter">
            <input type="checkbox"> <p>Jamming Studios</p> <span>count</span>
        </div>
        <div class="filter">
            <input type="checkbox"> <p>Recording Studios</p> <span>count</span>
        </div>
        <div class="filter">
            <input type="checkbox"> <p>Home Studios</p> <span>count</span>
        </div>
        <h3>Equipment</h3>
        <div class="filter">
            <input type="checkbox"> <p>Piano</p>
        </div>
        <div class="filter">
            <input type="checkbox"> <p>Drums</p>
        </div>
        <div class="filter">
            <input type="checkbox"> <p>Bass</p>
        </div>
        <div class="sidebar-link">
            <a href="#">View More</a>
        </div>
    </div>
  </div>
    <%# everything in right column %>
    <div class="left-col">
    <p>studio.count Options</p>
    <h1>Recommended studios in Singapore</h1>
    <%# for each studios here! %>
    <div class="studio">
        <div class="studio-img">
            <img src="assets/room2.jpg" alt="">
        </div>
        <div class="studio-info">
            <p>studio.description</p>
            <h3>3 studio rooms available</h3>
            <p>name room 1, name room 2, name room 3</p>
            <%# reviews gem here! %>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <div class="studio-price">
                <p>5 pax</p>
                <h4>$30<span>/ hour</span></h4>
            </div>
        </div>
    </div>
    <div class="studio">
        <div class="studio-img">
            <img src="assets/room2.jpg" alt="">
        </div>
        <div class="studio-info">
            <p>studio.description</p>
            <h3>3 studio rooms available</h3>
            <p>name room 1, name room 2, name room 3</p>
            <%# reviews gem here! %>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <div class="studio-price">
                <p>5 pax</p>
                <h4>$30<span>/ hour</span></h4>
            </div>
        </div>
    </div>
    <%# end above this line %>
    </div>
  </div>
</div>

<%# add pagination here, use gem %>
<%= render "footer", studio: @studio %>
