
<div class="container">
<h1>List of Studios Available for Booking</h1>
<% @studio.each do |stud| %><br>
<li class='list-group-item' ><%= stud.name %></li>
<li class='list-group-item' ><%= stud.address %></li>
<% end %>
</div>
