
<div class="container">
<h1>show studio</h1>

<li class="list-group-item">
  <%= @studio.name %>
  <%= @studio.address %>
  <%= button_to "Delete", studio_path(@studio), method: :delete, form: {data: {turbo_confirm: 'Are you sure?'}} %>
</li>
