
<div class="container">
<h1><%= @studio.name %></h1>
<p> <%= @studio.address %></p>

<% @studio.rooms.each do |room|%>
<li class="list-group-item"><%= room %></li>
<% end %>
<%= button_to "Delete", studio_path(@studio), method: :delete, form: {data: {turbo_confirm: 'Are you sure?'}} %>
